# API Backend URL
# Для локальной разработки (Linux):
VITE_API_URL=http://0.0.0.0:8000
# Для Docker: используйте localhost или IP хоста
# VITE_API_URL=http://localhost:8000
# Для production: используйте ваш домен
# VITE_API_URL=https://api.yourdomain.com

# Режим работы: 'api' - работа с реальным API, 'mock' - тестирование с моками
VITE_API_MODE=api
